{% extends 'base.html' %} {% load static %} {% load allauth i18n %} 
{% block content %}
<div class="auth-form-container">
  <h2>{% trans "Cerrar Sesion" %}</h2>

  <p class="logout-confirmation-text">{% trans 'Confirma que quiere cerrar sesion?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <div class="form-actions">
    <button class="btn-principal" type="submit">{% trans 'Cerrar Sesion' %}</button>
    <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="btn-secundario">Cancelar</a>
</div>
  </form>
</div>
{% endblock %}
