{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/checkout_pedido.css' %}">
{% endblock %}

{% block content %}
<div class="checkout-wrapper">
<div class="confirmacion-box">
<h2><i class="fas fa-clock"></i> Pago Pendiente</h2>
<p>Tu pago para el pedido #{{ pedido.id }} está siendo procesado (ej: pago en efectivo).</p>
<p>Tu pedido quedará confirmado una vez que se acredite el pago.</p>
<a href="{% url 'inicio' %}" class="btn-principal" style="margin-top: 30px; display: inline-block;">Volver al Inicio</a>
</div>
</div>
{% endblock %}