{% extends 'base.html' %}
{% block content %}

<div class="checkout-wrapper">
<div class="confirmacion-box">
<h2><i class="fas fa-times-circle"></i> Pago Rechazado</h2>
<p>Lamentablemente, no se pudo procesar tu pago para el pedido #{{ pedido.id }}.</p>
<p>No se ha realizado ningún cobro. Por favor, intenta nuevamente o elige otro medio de pago.</p>
<a href="{% url 'checkout_pedido' pedido.id %}" class="btn-principal" style="margin-top: 30px;">Intentar Pagar de Nuevo</a>
</div>
</div>
{% endblock %}