# Git
.git
.gitignore

# Entorno virtual
venv/
.venv/

# Base de datos local
db.sqlite3
*.sqlite3

# Archivos de Secretos
.env

# Archivos estáticos y media locales (los generaremos en el contenedor)
/staticfiles/
/media/

# Archivos de Python cacheados
__pycache__/
*.pyc
*.pyo

# Configuración de Gunicorn (si lo tienes)
.gunicorn_config.py