{% extends 'email/email_base.html' %}
{% load i18n %}

{% block title %}{% trans "Resetear Contraseña" %}{% endblock %}

{% block content %}

<h1 style='color: #333; font-family: "Lora", serif; font-size: 24px'>Solicitud de Reseteo de Contraseña</h1>
<p style="margin-bottom: 20px;">{% blocktrans %}Hola {{ user_display }},






Hemos recibido una solicitud para resetear la contraseña de tu cuenta. Si no has sido tú, por favor ignora este email.{% endblocktrans %}</p>
<p style="margin-bottom: 20px;">Para establecer una nueva contraseña, haz clic en el botón de abajo:</p>

<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin: 25px 0;">
<tr>
<td align="center">
<a href="{{ password_reset_url }}" class="button" style="display: inline-block; padding: 12px 25px; border-radius: 8px; text-decoration: none; font-weight: bold; background-color: {{ apariencia_config.boton_color_principal_fondo|default:'#78857A' }}; color: {{ apariencia_config.boton_color_principal_texto|default:'#FFFFFF' }};">
Resetear Contraseña
</a>
</td>
</tr>
</table>