{% extends 'base.html' %} 
{% load static %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/lista_productos.css' %}">
{% endblock %}

{% block content %}
<div class="productos-page-wrapper">
  <h2 class="titulo-seccion">Nuestro Catálogo</h2>

  <div class="productos-page-layout">
    <aside class="filtros-sidebar">
      <h4>Filtrar por Categoría</h4>
      <ul class="lista-categorias">
        <li><a href="{% url 'lista_productos' %}">Todos</a></li>
        {% for categoria in categorias %}
        <li>
          <a href="?categoria={{ categoria.id }}">{{ categoria.nombre }}</a>
        </li>
        {% endfor %}
      </ul>
    </aside>

    <main class="productos-grid-container">
      {% if productos %}

      <div class="contenedor-grid-productos">
        
        {% for producto in productos %}
        
          {% comment %} 
            Aquí comprobamos la variable que viene del admin.
            Recuerda que 'apariencia_config' está disponible en TODOS 
            los templates gracias a tu context_processor.
          {% endcomment %}
          
          {% if apariencia_config.estilo_tarjeta_producto == 'hot_sale' %}
              
              {% include 'productos/partials/card_hot_sale.html' %}
          
          {% elif apariencia_config.estilo_tarjeta_producto == 'harvest' %}

    {% comment %} Carga la nueva tarjeta Harvest {% endcomment %}
    {% include 'productos/partials/card_harvest.html' %}


              
              
              
              {% comment %} Este es el 'simple' (default) {% endcomment %}
              {% include 'productos/partials/card_simple.html' %}
          
          {% endif %}
          
          {% endfor %}
      </div>
      {% else %}
      <p class="no-results-msg">
        No se encontraron productos que coincidan con tu búsqueda.
      </p>
      {% endif %}
    </main>
  </div>
</div>
{% endblock %}