{% extends 'base.html' %} 
{% load static %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-form-container">
  <h2>Editar Mis Datos</h2>

  <form method="POST">
    {% csrf_token %}

    <fieldset class="form-section">
      <legend class="section-title">Datos Personales</legend>
      {{ user_form.as_p }}
    </fieldset>

    <fieldset class="form-section">
      <legend class="section-title">Datos de Envío</legend>
      {{ perfil_form.as_p }}
    </fieldset>

    <div class="form-actions">
    <button type="submit" class="btn-principal">Guardar Cambios</button>
    <a href="{% url 'profile' %}" class="btn-secundario">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
