{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/checkout_turno.css' %}">
{% endblock %}

{% block content %}
<div class="checkout-wrapper">
        <h2>¡Solicitud Recibida!</h2>
        <p>Hemos recibido tu solicitud de turno. En breve recibirás un email con todos los detalles.</p>
        <p>Una vez que confirmemos la recepción de tu pago, tu turno quedará agendado. ¡Muchas gracias!</p>
        
        <div class="contacto-final">
            <h4>¿Preguntas?</h4>
            <p>Puedes contactarme por cualquiera de estos medios:</p>
            <a href="https://wa.me/TU_NUMERO_DE_TELEFONO" class="btn-secundario">Hablar por WhatsApp</a>
            <a href="mailto:TU_EMAIL" class="btn-secundario">Enviar un Email</a>
        </div>
    </div>
    {% endblock %}
    